<!DOCTYPE html>
<html>
	<head>
		<title>Nuclio Demo Page</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8" crossorigin="anonymous"></script>
	</head>
	<body>
		{% include content %}
	</body>
</html>